doctype 5
html
  head
    meta(charset="utf-8")
    title Memory match
    link(href="/s/css/style.css",rel="stylesheet",type="text/css")
  body
    .top
      .fr
        if req.session.email
          | #{req.session.email} | 
          a(id="logout",href="/logout") Logout
        else
          a#login(href="#")
            img(src="/s/img/login.png",width="185",height="27")

      | Memory Match

    p.c.info-start
      button(id="start") Start Game
    p.c.info-end
      | Yay! Completed in 
      span(id="clicks")
      |  clicks, 
      span(id="time")
      |  millisconds.

    .board
      .grid
        .card.front
          img(src="/s/i/alligator.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/ant.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bat.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bear.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bee.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bird.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bulldog.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/bull.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/butterfly.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/cat.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/chicken.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/cow.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/crab.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/crocodile.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/deer.png")
        .card.back.hide
          img(src="/s/img/star.png")
      .grid
        .card.front
          img(src="/s/i/dog.png")
        .card.back.hide
          img(src="/s/img/star.png")

    p.footer.
      <small>Written by <a href="http://www.chilts.org/blog/">Andrew Chilton</a>. <a href="http://www.graphics-and-desktop-icons.com/animal-icons.html">Animal icons</a>.</small>

  #preload
    img(src="/s/i/alligator.png",alt="alligator")
    img(src="/s/i/ant.png",alt="ant")
    img(src="/s/i/bat.png",alt="bat")
    img(src="/s/i/bear.png",alt="bear")
    img(src="/s/i/bee.png",alt="bee")
    img(src="/s/i/bird.png",alt="bird")
    img(src="/s/i/bulldog.png",alt="bulldog")
    img(src="/s/i/bull.png",alt="bull")
    img(src="/s/i/butterfly.png",alt="butterfly")
    img(src="/s/i/cat.png",alt="cat")
    img(src="/s/i/chicken.png",alt="chicken")
    img(src="/s/i/cow.png",alt="cow")
    img(src="/s/i/crab.png",alt="crab")
    img(src="/s/i/crocodile.png",alt="crocodile")
    img(src="/s/i/deer.png",alt="deer")
    img(src="/s/i/dog.png",alt="dog")
    img(src="/s/i/donkey.png",alt="donkey")
    img(src="/s/i/duck.png",alt="duck")
    img(src="/s/i/eagle.png",alt="eagle")
    img(src="/s/i/elephant.png",alt="elephant")
    img(src="/s/i/fish.png",alt="fish")
    img(src="/s/i/fox.png",alt="fox")
    img(src="/s/i/frog.png",alt="frog")
    img(src="/s/i/giraffe.png",alt="giraffe")
    img(src="/s/i/gorilla.png",alt="gorilla")
    img(src="/s/i/hippo.png",alt="hippo")
    img(src="/s/i/horse.png",alt="horse")
    img(src="/s/i/insect.png",alt="insect")
    img(src="/s/i/lion.png",alt="lion")
    img(src="/s/i/monkey.png",alt="monkey")
    img(src="/s/i/moose.png",alt="moose")
    img(src="/s/i/mouse.png",alt="mouse")
    img(src="/s/i/owl.png",alt="owl")
    img(src="/s/i/panda.png",alt="panda")
    img(src="/s/i/penguin.png",alt="penguin")
    img(src="/s/i/pig.png",alt="pig")
    img(src="/s/i/rabbit.png",alt="rabbit")
    img(src="/s/i/rhino.png",alt="rhino")
    img(src="/s/i/rooster.png",alt="rooster")
    img(src="/s/i/shark.png",alt="shark")
    img(src="/s/i/sheep.png",alt="sheep")
    img(src="/s/i/snake.png",alt="snake")
    img(src="/s/i/tiger.png",alt="tiger")
    img(src="/s/i/turkey.png",alt="turkey")
    img(src="/s/i/turtle.png",alt="turtle")
    img(src="/s/i/wolf.png",alt="wolf")

  script(src="/s/js/jquery-1.8.3.js")
  script(src="/s/js/jquery.easing-1.3.js")
  script(src="/s/js/jquery.transit-0.9.9.js")
  script(src="https://login.persona.org/include.js")
  script(src="/s/js/ready.js")
