doctype 5
html
  head
    meta(charset="utf-8")
    title Memory match
    | !{cachify_css('/s/css/all.min.css')}
  body
    .container_12
      h1 Memory Match
      p.
        <strong>Instructions:</strong> Click a card to show its face, then click a second. If there is no match they
        will turn back over. If there is a match, they'll disappear! Play until all cards are gone and enjoy the end
        sequence. Have fun! :)

      p.c.
        <button id="start">Start Game</button>

      .grid_12.
        <div class="grid_2 alpha">
          <div class="card front"><img src="/s/i/alligator.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/bat.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/bear.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/bee.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/bird.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2 omega">
          <div class="card front"><img src="/s/i/bull.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>

      .grid_12.
        <div class="grid_2 alpha">
          <div class="card front"><img src="/s/i/cat.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/chicken.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/cow.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/crab.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/crocodile.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2 omega">
          <div class="card front"><img src="/s/i/deer.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>

      .grid_12.
        <div class="grid_2 alpha">
          <div class="card front"><img src="/s/i/dog.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/donkey.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/duck.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/eagle.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2">
          <div class="card front"><img src="/s/i/elephant.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
        <div class="grid_2 omega">
          <div class="card front"><img src="/s/i/fish.png" width="64" height="64" /></div>
          <div class="card back hide"><img src="/s/img/star.png" width="64" height="64" /></div>
        </div>
      </div>

      p(style="text-align: right;").
        Written by <a href="http://www.chilts.org/blog/">Andrew Chilton</a>
        of <a href="http://www.appsattic.com/">AppsAttic</a>. Animal icons courtesy
        of <a href="http://www.graphics-and-desktop-icons.com/animal-icons.html">Graphics and Desktop Icons</a>.


    #preload.
      <img src="/s/i/alligator.png" alt="alligator" />
      <img src="/s/i/ant.png" alt="ant" />
      <img src="/s/i/bat.png" alt="bat" />
      <img src="/s/i/bear.png" alt="bear" />
      <img src="/s/i/bee.png" alt="bee" />
      <img src="/s/i/bird.png" alt="bird" />
      <img src="/s/i/bulldog.png" alt="bulldog" />
      <img src="/s/i/bull.png" alt="bull" />
      <img src="/s/i/butterfly.png" alt="butterfly" />
      <img src="/s/i/cat.png" alt="cat" />
      <img src="/s/i/chicken.png" alt="chicken" />
      <img src="/s/i/cow.png" alt="cow" />
      <img src="/s/i/crab.png" alt="crab" />
      <img src="/s/i/crocodile.png" alt="crocodile" />
      <img src="/s/i/deer.png" alt="deer" />
      <img src="/s/i/dog.png" alt="dog" />
      <img src="/s/i/donkey.png" alt="donkey" />
      <img src="/s/i/duck.png" alt="duck" />
      <img src="/s/i/eagle.png" alt="eagle" />
      <img src="/s/i/elephant.png" alt="elephant" />
      <img src="/s/i/fish.png" alt="fish" />
      <img src="/s/i/fox.png" alt="fox" />
      <img src="/s/i/frog.png" alt="frog" />
      <img src="/s/i/giraffe.png" alt="giraffe" />
      <img src="/s/i/gorilla.png" alt="gorilla" />
      <img src="/s/i/hippo.png" alt="hippo" />
      <img src="/s/i/horse.png" alt="horse" />
      <img src="/s/i/insect.png" alt="insect" />
      <img src="/s/i/lion.png" alt="lion" />
      <img src="/s/i/monkey.png" alt="monkey" />
      <img src="/s/i/moose.png" alt="moose" />
      <img src="/s/i/mouse.png" alt="mouse" />
      <img src="/s/i/owl.png" alt="owl" />
      <img src="/s/i/panda.png" alt="panda" />
      <img src="/s/i/penguin.png" alt="penguin" />
      <img src="/s/i/pig.png" alt="pig" />
      <img src="/s/i/rabbit.png" alt="rabbit" />
      <img src="/s/i/rhino.png" alt="rhino" />
      <img src="/s/i/rooster.png" alt="rooster" />
      <img src="/s/i/shark.png" alt="shark" />
      <img src="/s/i/sheep.png" alt="sheep" />
      <img src="/s/i/snake.png" alt="snake" />
      <img src="/s/i/tiger.png" alt="tiger" />
      <img src="/s/i/turkey.png" alt="turkey" />
      <img src="/s/i/turtle.png" alt="turtle" />
      <img src="/s/i/wolf.png" alt="wolf" />

    | !{cachify_js('/s/js/all.min.js')}
