.body {
    width: 320px;
    height: 480px;
    overflow: hidden;
    text-align: center;
}

.fr {
    float: right;
}

.board {
    width: 264px;
    height: 264px;
    margin: auto;
}

.grid {
    float: left;
    background-color: #eee;
}

.grid div.card {
    margin: 8px;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
}

.grid div.card img {
    margin: 8px;
    width: 32px;
    height: 32px;
}

.grid div.back {
    background-color: red;
}

.grid div.front {
    background-color: orange;
}

.c {
    text-align: center;
}

.hide {
    display: none;
}

img {
    display: block;
    position: relative;
}

.footer {
    clear: both;
}

div#preload {
    display: none;
}
